- if @is_ready
  .row
    .col-12
      PayPal account successfully connected. PayPal merchant id: #{@merchant_id}
- else
  .row
    .col-12
      In order to receive payments, please connect your PayPal account:


= form_tag '', :method => :put do
  .row
    - if !@is_ready
      .col-12
        %div{}
          - content_for :extra_javascript do
            :javascript
              (function(d, s, id) {
                var js, ref = d.getElementsByTagName(s)[0];
                if (!d.getElementById(id)) {
                  js = d.createElement(s);
                  js.id = id;
                  js.async = true;
                  js.src = "https://sandbox.paypal.com/webapps/merchantboarding/js/lib/lightbox/partner.js";
                  ref.parentNode.insertBefore(js, ref);
                }
              }(document, "script", "paypal-js"));
          %a{:href => "#{@action_url}", :target => "PPFrame", :"data-paypal-button" => "true"}
            Connect with PayPal

    - else
      .col-12
        = submit_tag "unlink PayPal account", class: 'button'

